h1,h2 {
    font-size: 60px;
    text-align: center;
    font-family: arial;
    margin: 10px;
    color: yellow;
}

button {
    display: block;
    margin: auto;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(../img/pukul.png), auto;
}

.container:active {
    cursor: url(../img/terpukul.png), auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background-size: 80%;
    background: url(../img/tanah.png) bottom center no-repeat;
    position: absolute;
    bottom: -27px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../img/tikus.png) bottom center no-repeat;
    background-size: 86%;
    position: absolute;
    top: 100px;
    transition : top 0.2s;
}

.tanah.muncul .tikus {
    top: 0;
}

